
<h1>You are not alone{{#if city}} in {{capitalise city}}{{/if}}!</h1>

<h2>Here's everyone else who signed...</h2>


   
    <div class="signers">
    
    {{#signers}}
        
        <p>{{#if url}}<a href={{url}} target="_blank" rel="noopener noreferrer">{{/if}}{{first}} {{last}}</a>{{#if age}}, {{age}}{{/if}}{{#if city}} - <a href="/signers/{{lowerCase city}}">{{capitalise city}}</a>{{/if}}</p>

    {{/signers}}
    </div>

